.section-about {

	.carousel {
		height: 30rem !important;

		@media only screen and (max-width: $bp-small) {
			height: 40rem !important;
		}

		h4 {
            margin-top: 3rem;

			@media only screen and (max-width: $bp-medium) {
				margin-top: 5rem;
			}

			@media only screen and (max-width: $bp-small) {
				margin-top: 10rem;
			}
		}

        .container {
            margin-top: 5rem;
        }

		.indicators {
			position: absolute;
			text-align: center;

			.indicator-item {
				background-color: grey;

				&.active {
					background-color: black;
				}
			}
		}

		.row {
			max-height: 15rem;
			margin-top: 1rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		img.responsive-img {
			width: 100%;
			max-width: 120px;

			@media only screen and (max-width: $bp-medium) {
				max-width: 90px;
			}

            @media only screen and (max-width: $bp-medium) {
				max-width: 70px;
			}
		}

		&-logo {
			margin: 0 1rem;
			background-color: rgb(241, 240, 240);
			border-radius: 15%;
			-webkit-box-shadow: 1px 1px 1px 1px rgba(107, 105, 107, 1);
			-moz-box-shadow: 1px 1px 1px 1px rgba(107, 105, 107, 1);
			box-shadow: 1px 1px 1px 1px rgba(107, 105, 107, 1);
			opacity: 0.7;

			@media only screen and (max-width: $bp-small) {
				margin: 1rem;
			}
		}

		&-logo:hover {
			opacity: 0.9;
			transition: opacity 0.2s linear;
			-webkit-transition: opacity 0.2s linear;
		}
	}

	.tooltip {
		position: relative;
		display: inline-block;

		&-text {
			position: absolute;
			top: 110%;
			left: 50%;
			z-index: 1;
			padding: 5px 5px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.7);
			border-radius: 5px;
			visibility: hidden;
			transform: translateX(-50%);
		}
	}

	.tooltip:hover .tooltip-text {
		visibility: visible;
	}
}
