* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: $bp-small) {
		font-size: 50%;
	}
}

body {
	font-family: "Itim", cursive;
	font-weight: 300;
	color: #444;
	line-height: 1.9;
	background-color: #f3f3f3;
	height: 300vh;

	overflow-x: hidden;
}

