#project {
	padding-bottom: 8rem;

	@media only screen and (max-width: $bp-small) {
		padding: 0 1rem 8rem 1rem;
	}

	.card_row {
		margin-top: 7rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card_col {
		width: 40rem;

		h5 {
			font-size: 3rem;

			@media only screen and (max-width: $bp-medium) {
				margin-top: 2rem;
			}	
		}

		p {
			font-size: 1.7rem;
		}

		.btn:not(.btn-mobile){
			@media only screen and (max-width: $bp-medium) {
				display: none;
			}	
		}

		.btn-mobile {
			margin-top: 1rem;
			display: none;

			&:nth-child(2) {
				margin-right: 1rem;
			}

			@media only screen and (max-width: $bp-medium) {
				display: inline-block;
			}
		}

		&:last-child {
			margin-left: 8rem;

			@media only screen and (max-width: $bp-small) {
				margin-left: 1rem;
			}
		}
	}

	.card_container {
		perspective: 150rem;
		-moz-perspective: 150rem;
		position: relative;
		height: 30rem;

		@media only screen and (max-width: 350px) {
			transform: scale(0.9);
		}

		&:hover .card_side_front {
			transform: rotateY(180deg);
		}

		&:hover .card_side_back {
			transform: rotateY(0deg);
		}

		.card_side {
			position: absolute;
			top: 0;
			left: 0;
			width: 80%;
			min-width: 40rem;
			height: 30rem;
			backface-visibility: hidden;

			color: white;
			font-size: 2rem;
			transition: all 0.5s;
			border-radius: 10px;

			&_front {
				background-color: $color-primary;
				overflow: hidden;

				.card_image {
					width: 100%;
				}

				.card_content_container {
					display: flex;
					font-size: 1rem;
					justify-content: flex-end;
					margin-right: 2rem;
				}

				.card_content {
					margin-left: 1rem;
					transform: translateY(-15%);
					border-radius: 10px;
					padding: 0.5rem 1rem;
					background-color: $color-secondary;
				}
			}

			&_back {
				background-image: linear-gradient(to left, $color-primary, $color-secondary);
				transform: rotateY(-180deg);
				display: flex;
				justify-content: center;
				align-items: center;

				.btn:last-child {
					margin-left: 1.5rem;
				}
			}
		}
	}

	i {
		margin-right: 1rem;
	}
}
